.section {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
}

.button {
  position: relative;
  top: 90px;
  display: inline-block;
  padding-top: 8px;
}

.image {
  margin-left: -10px;
  padding-left: 0px;
}

.brand {
  background-image: url('../images/Honnyu.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.brand-2 {
  background-image: url('../images/Honnyu.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #b4a2a2;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  background-color: #afa1a1;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.heading {
  position: relative;
  top: -65px;
  overflow: visible;
  text-align: center;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.paragraph {
  margin-left: 25px;
}

.paragraph-2 {
  margin-right: 374px;
  margin-left: 25px;
  padding-left: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #683737;
  font-size: 14px;
  line-height: 50px;
  white-space: normal;
}

.image-2 {
  position: relative;
  top: 600px;
  margin-left: 710px;
  padding-top: 0px;
}

.section-2 {
  position: relative;
  top: -375px;
}

.body {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.paragraph-3 {
  margin-top: -383px;
  padding-top: 0px;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 50px;
}

.html-embed {
  padding-right: 800px;
  padding-left: 50px;
}

.section-3 {
  position: static;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: left;
  clear: none;
  border: 1px solid #000;
  border-radius: 8px;
}

.heading-2 {
  line-height: 22px;
}

.paragraph-4 {
  position: relative;
  margin-bottom: 44px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 319px;
  font-size: 28px;
}

.body-2 {
  border: 1px solid #000;
}

.image-3 {
  position: relative;
  margin: -125px auto 350px;
  border: 1px solid #000;
  border-radius: 8px;
}

.paragraph-5 {
  position: relative;
  margin-top: -693px;
  padding-top: 0px;
  padding-left: 323px;
}

.button-2 {
  margin-top: 253px;
  margin-left: 964px;
  padding-bottom: 0px;
  float: left;
}

.heading-3 {
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-6 {
  margin-left: 156px;
}

.paragraph-7 {
  margin-bottom: 0px;
  padding-right: 50px;
  padding-left: 75px;
}

.paragraph-8 {
  margin-right: 50px;
  margin-left: 50px;
}

.heading-4 {
  margin-right: 50px;
  margin-left: 50px;
}

.heading-5 {
  margin-right: 50px;
  margin-left: 50px;
}

.image-4 {
  margin-left: 50px;
}

.paragraph-9 {
  margin-top: -127px;
  margin-right: 50px;
  margin-bottom: 137px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 175px;
  font-size: 28px;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-10 {
  margin: -133px 50px 20px 175px;
  padding-top: 0px;
}

.paragraph-11 {
  margin: -125px 50px 64px 175px;
}

.heading-6 {
  margin-top: -125px;
  margin-left: 175px;
}

.paragraph-12 {
  margin-right: 50px;
  margin-bottom: 25px;
  margin-left: 176px;
}

.paragraph-13 {
  margin-top: 59px;
  margin-right: 50px;
  margin-left: 50px;
}

.paragraph-14 {
  margin-right: 50px;
  margin-left: 50px;
  text-align: left;
  text-transform: none;
  white-space: normal;
}

.paragraph-15 {
  margin-right: 50px;
  margin-left: 50px;
}

.html-embed-2 {
  margin-left: 112px;
}

.paragraph-16 {
  margin: -225px 317px 104px 50px;
}

.image-5 {
  margin-left: 806px;
}

.paragraph-17 {
  margin-left: 75px;
}

.paragraph-18 {
  margin-left: 75px;
  padding-left: 0px;
}

.paragraph-19 {
  padding-left: 75px;
}

.paragraph-20 {
  margin-right: 50px;
  margin-left: 50px;
}

.paragraph-21 {
  margin-right: 50px;
  margin-left: 50px;
}

.paragraph-22 {
  margin: -447px 323px 25px 50px;
}

.image-6 {
  margin-right: 0px;
  margin-left: 748px;
}

.paragraph-23 {
  margin-left: 50px;
}

.paragraph-24 {
  margin-top: 25px;
  margin-right: 322px;
  margin-left: 75px;
  font-size: 16px;
  letter-spacing: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-25 {
  margin: 75px 322px 25px 50px;
}

.paragraph-26 {
  margin-right: 322px;
  margin-left: 50px;
}

.paragraph-27 {
  margin-left: 25px;
}

.paragraph-28 {
  margin-right: 50px;
  margin-left: 50px;
}

.paragraph-29 {
  margin-right: 50px;
  margin-left: 50px;
}

.slider {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.paragraph-30 {
  margin: 50px;
}

.heading-7 {
  margin-left: 50px;
}

.heading-8 {
  margin-left: 50px;
}

.section-4 {
  margin-top: 25px;
  border: 1px solid #000;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.heading-9 {
  margin-top: -141px;
  margin-bottom: 97px;
  margin-left: 144px;
}

.paragraph-31 {
  margin-top: -98px;
  margin-bottom: 38px;
  margin-left: 143px;
}

.button-3 {
  margin-top: 50px;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }
}